{% extends 'base.html'%}
{%block content%}
<!-- Header-->
        <header class="bg-dark py-2">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">結帳完成</h1>
                    <p class="lead fw-normal text-white-50 mb-0">歡迎來到無人商店</p>
                </div>
            </div>

        </header>
        <div class="container">
            <div class="row">
                <div class="p-3 m-0 border-0 bd-example m-0 border-0 d-flex justify-content-between">
                    <button class="btn btn-outline-dark" onclick="window.location.href='{% url 'home' %}'">回主畫面</button>
                </div> 
            </div>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{%endblock%}