{% extends 'base.html'%}

{%block content%}
        {% load static %}
        <!-- Header-->
        <header class="bg-dark py-2">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">商品瀏覽</h1>
                    <p class="lead fw-normal text-white-50 mb-0">{{prods}}商品頁面</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="dropdown px-4 px-lg-5 mt-5">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    排序條件：
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="?sort_by=newest">最新</a></li>
                    <li><a class="dropdown-item" href="?sort_by=price_asc">價格（低到高）</a></li>
                    <li><a class="dropdown-item" href="?sort_by=price_desc">價格（高到低）</a></li>
                    <li><a class="dropdown-item" href="?sort_by=position">貨架位置</a></li>
                    
                    
                </ul>
            <hr>
            </div>

            <div class="container px-4 px-lg-5 mt-5">
                
            
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.pImage.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.pName }} </h5>
                                        <!-- Product price-->
                                        ${{ product.pCost }}<br/><br/>
                                        <h6 class="fw-bolder">貨架位置 : {{ product.pLoc }} </h6>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                {% comment %} <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>



{%endblock%}

